body{
    font-family: Arial;
    margin: 0;

    
}
.header {
    padding:60px;
    text-align:center;
    
}
header{/* background: #C6F2D9; */padding: 60px;text-align: center;background: #006655;color: #C6F2D9;}

h2{
    text-align: center;
    color: 011F00;
    font-size: 30px;
    font-family: sans-serif;

}


